@charset "utf-8";
@p100: 100%;

// 隐藏显示的项（为显示选择的项目数量）
.dj-hide-select-item {
    ul{
        li{
            display: none;
            &:last-child{
                display: inline-block;
            }
        }
        [data-tip]{
            input{
                width:0.75em;
                color: #999999;
            }
            &:before{
                content:attr(data-tip);
                padding-right:.5em;
            }
            & > * {
                display: inline-block !important;
                width:auto;
            }
        }
    }
}
