.djm-multi-select {
  position: relative;
}
.djm-multi-select .ant-select-selection__rendered li {
  position: absolute;
  left: -9999999px;
}
.djm-multi-select .cur-select-text {
  line-height: 28px;
  padding-left: 10px;
  position: absolute;
  z-index: 10;
  pointer-events: none;
}
.djm-multi-select .cur-select-text[data-value="全部"] {
  color: #CCCCCC;
}
