:global {
    .dj-spu-select {
        .ant-table-tbody>tr>td {
            padding: 8px;
        }
        .rule-modal div[class*='ant-card ant-card-bordered'] {
            margin-bottom: 15px;
            border-color: #ddd
        }
        .rule-modal>div:last-child div[class*='ant-card ant-card-bordered'] {
            margin-bottom: 10px;
        }
        .rule-modal div[class*='ant-card-head'] {
            height: 35px;
            line-height: 35px;
            background: #eee;
            padding: 0px 15px;
        }
        .rule-modal div[class*='ant-card-extra'] {
            right: 15px;
            top: 10px;
        }
        .rule-modal div[class*='ant-card-body'] {
            padding: 15px;
        }
        .card-height {
            height: calc(~"100% - 50px");
        }
    }
    .dj-spu-line {
        width: 100%;
        height: 1px;
        background: #e9e9e9;
        margin: 10px 0px;
    }
    .title_checked {
        .title_classified;
        border-bottom: 2px solid #0f8ee9;
    }
    .title_classified {
        padding: 0 20px 14px;
        cursor: pointer;
    }
}