.dj-table-box * {
  box-sizing: border-box;
}
.dj-table-box > div {
  margin-top: 34px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.dj-table-box table {
  font-size: 12px;
  border-collapse: collapse;
}
.dj-table-box table [data-name] {
  background: #f2f2f2;
}
.dj-table-box table input {
  color: #108ee9;
  background: none;
  text-align: center;
}
.dj-div-table {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 1px;
  padding-right: 1px;
  margin: -1px;
  margin-right: -2px;
}
.dj-div-table::after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.dj-div-table > * {
  float: left;
  width: 100%;
  height: 70px;
  border: 1px solid #d9d9d9;
  margin-bottom: -1px;
  margin-right: -1px;
  position: relative;
  z-index: 10;
}
.dj-div-table > *[data-empty=true] {
  display: block;
}
.dj-div-table > *[data-empty=true]:first-child:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 10000px;
  height: 35px;
  background: #f2f2f2;
  border-bottom: 1px solid #d9d9d9;
}
.dj-div-table > * > table {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  text-align: center;
}
.dj-div-table > * > table tr td {
  border-left: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  width: 20%;
  height: 35px;
}
.dj-div-table > * > table tr td:first-child {
  border-left: none;
}
.dj-div-table > * > table tr[data-title] td {
  position: relative;
}
.dj-div-table > * > table tr[data-title] td::before {
  display: none;
  content: attr(data-title);
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  position: absolute;
  z-index: 0;
  bottom: 100%;
  left: -1px;
  width: 100%;
  height: 100%;
  line-height: 1.3em;
  background: #EEEEEE;
  border: 1px solid #d9d9d9;
}
.dj-div-table > * > table tr:first-child td {
  border-top: none;
}
.dj-div-table > * > table tr:first-child + * td::before {
  bottom: 203%;
}
.dj-div-table > * > table tr:first-child + * + * td::before {
  bottom: 306%;
}
.dj-div-table > *:first-child {
  color: #343434;
}
.dj-div-table > *:first-child > table tr:first-child td::before {
  display: flex;
}
.dj-div-table > *:first-child > table tr:first-child + * td::before {
  display: flex;
}
.dj-div-table > *:first-child > table tr:first-child + * + * td::before {
  display: flex;
}
@media screen and (min-width: 600px) {
  .dj-div-table[data-fixed='0'] {
    margin-right: -2px;
  }
  .dj-div-table[data-fixed='0'] > * {
    width: 100%;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] {
    margin-right: -3px;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] > * {
    width: 50%;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] {
    margin-right: -4px;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] > * {
    width: 33.33333%;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] {
    margin-right: -5px;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] > * {
    width: 25%;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a1][data-empty=true] {
    display: block;
  }
  .dj-div-table-head {
    margin-right: -2;
  }
  .dj-div-table-head > * {
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  .dj-div-table[data-fixed='0'] {
    margin-right: -3px;
  }
  .dj-div-table[data-fixed='0'] > * {
    width: 50%;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] {
    margin-right: -4px;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] > * {
    width: 33.33333%;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] {
    margin-right: -5px;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] > * {
    width: 25%;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a4] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] {
    margin-right: -6px;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] > * {
    width: 20%;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a4] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a1][data-empty=true] {
    display: block;
  }
  .dj-div-table[data-fixed='0'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a2][data-empty=true] {
    display: block;
  }
  .dj-div-table-head {
    margin-right: -3;
  }
  .dj-div-table-head > * {
    width: 50%;
  }
}
@media screen and (min-width: 1100px) {
  .dj-div-table[data-fixed='0'] {
    margin-right: -4px;
  }
  .dj-div-table[data-fixed='0'] > * {
    width: 33.33333%;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] {
    margin-right: -5px;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] > * {
    width: 25%;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a4] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] {
    margin-right: -6px;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] > * {
    width: 20%;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a4] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a5] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] {
    margin-right: -7px;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] > * {
    width: 16.66667%;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a4] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a5] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a1][data-empty=true] {
    display: block;
  }
  .dj-div-table[data-fixed='0'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a2][data-empty=true] {
    display: block;
  }
  .dj-div-table[data-fixed='0'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a3][data-empty=true] {
    display: block;
  }
  .dj-div-table-head {
    margin-right: -4;
  }
  .dj-div-table-head > * {
    width: 33.33333%;
  }
}
@media screen and (min-width: 1300px) {
  .dj-div-table[data-fixed='0'] {
    margin-right: -5px;
  }
  .dj-div-table[data-fixed='0'] > * {
    width: 25%;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] {
    margin-right: -6px;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] > * {
    width: 20%;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a4] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a5] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] {
    margin-right: -7px;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] > * {
    width: 16.66667%;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a4] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a5] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a6] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] {
    margin-right: -8px;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] > * {
    width: 14.28571%;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a4] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a5] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a6] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a1][data-empty=true] {
    display: block;
  }
  .dj-div-table[data-fixed='0'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a2][data-empty=true] {
    display: block;
  }
  .dj-div-table[data-fixed='0'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a3][data-empty=true] {
    display: block;
  }
  .dj-div-table[data-fixed='0'] [data-class=a4] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a4][data-empty=true] {
    display: block;
  }
  .dj-div-table-head {
    margin-right: -5;
  }
  .dj-div-table-head > * {
    width: 25%;
  }
}
@media screen and (min-width: 1500px) {
  .dj-div-table[data-fixed='0'] {
    margin-right: -6px;
  }
  .dj-div-table[data-fixed='0'] > * {
    width: 20%;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] {
    margin-right: -7px;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] > * {
    width: 16.66667%;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a4] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a5] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a6] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] {
    margin-right: -8px;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] > * {
    width: 14.28571%;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a4] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a5] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a6] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a7] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] {
    margin-right: -9px;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] > * {
    width: 12.5%;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a4] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a5] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a6] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a7] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a1][data-empty=true] {
    display: block;
  }
  .dj-div-table[data-fixed='0'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a2][data-empty=true] {
    display: block;
  }
  .dj-div-table[data-fixed='0'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a3][data-empty=true] {
    display: block;
  }
  .dj-div-table[data-fixed='0'] [data-class=a4] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a4][data-empty=true] {
    display: block;
  }
  .dj-div-table[data-fixed='0'] [data-class=a5] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a5][data-empty=true] {
    display: block;
  }
  .dj-div-table-head {
    margin-right: -6;
  }
  .dj-div-table-head > * {
    width: 20%;
  }
}
@media screen and (min-width: 1700px) {
  .dj-div-table[data-fixed='0'] {
    margin-right: -7px;
  }
  .dj-div-table[data-fixed='0'] > * {
    width: 16.66667%;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] {
    margin-right: -8px;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] > * {
    width: 14.28571%;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a4] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a5] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a6] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a7] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] {
    margin-right: -9px;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] > * {
    width: 12.5%;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a4] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a5] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a6] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a7] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a8] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] {
    margin-right: -10px;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] > * {
    width: 11.11111%;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a4] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a5] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a6] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a7] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a8] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a1][data-empty=true] {
    display: block;
  }
  .dj-div-table[data-fixed='0'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a2][data-empty=true] {
    display: block;
  }
  .dj-div-table[data-fixed='0'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a3][data-empty=true] {
    display: block;
  }
  .dj-div-table[data-fixed='0'] [data-class=a4] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a4][data-empty=true] {
    display: block;
  }
  .dj-div-table[data-fixed='0'] [data-class=a5] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a5][data-empty=true] {
    display: block;
  }
  .dj-div-table[data-fixed='0'] [data-class=a6] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a6][data-empty=true] {
    display: block;
  }
  .dj-div-table-head {
    margin-right: -7;
  }
  .dj-div-table-head > * {
    width: 16.66667%;
  }
}
@media screen and (min-width: 1900px) {
  .dj-div-table[data-fixed='0'] {
    margin-right: -8px;
  }
  .dj-div-table[data-fixed='0'] > * {
    width: 14.28571%;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] {
    margin-right: -9px;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] > * {
    width: 12.5%;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a4] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a5] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a6] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a7] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='1'] [data-class=a8] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] {
    margin-right: -10px;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] > * {
    width: 11.11111%;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a4] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a5] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a6] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a7] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a8] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='2'] [data-class=a9] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] {
    margin-right: -11px;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] > * {
    width: 10%;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a4] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a5] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a6] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a7] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a8] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'][data-extend='3'] [data-class=a9] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a1] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a1][data-empty=true] {
    display: block;
  }
  .dj-div-table[data-fixed='0'] [data-class=a2] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a2][data-empty=true] {
    display: block;
  }
  .dj-div-table[data-fixed='0'] [data-class=a3] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a3][data-empty=true] {
    display: block;
  }
  .dj-div-table[data-fixed='0'] [data-class=a4] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a4][data-empty=true] {
    display: block;
  }
  .dj-div-table[data-fixed='0'] [data-class=a5] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a5][data-empty=true] {
    display: block;
  }
  .dj-div-table[data-fixed='0'] [data-class=a6] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a6][data-empty=true] {
    display: block;
  }
  .dj-div-table[data-fixed='0'] [data-class=a7] tr[data-title] td::before {
    display: flex;
  }
  .dj-div-table[data-fixed='0'] [data-class=a7][data-empty=true] {
    display: block;
  }
  .dj-div-table-head {
    margin-right: -8;
  }
  .dj-div-table-head > * {
    width: 14.28571%;
  }
}
[data-hide-header=true] div[data-box] > div {
  margin-top: 2px;
}
[data-hide-header=true] tr[data-title] td::before {
  display: none !important;
}
